# How to Summarize Data in Python

## Learning Objectives
When exploring data, one of the most important things we can do is summarize it so we can better understand it. A common way to summarize data is by computing aggregations such as mean, median, maximum and minimum. These aggregations or statistical measures (as they are commonly referred to) describe the general and specific characteristics of our data. This is why these types of aggregations are sometimes referred to as **descriptive statistics** or **summary statistics**. The pandas DataFrame provides several methods for computing descriptive statistics. By the end of this tutorial, you will have learned:

+ how to describe a DataFrame
+ how to get simple aggregations
+ how to get group-level aggregations

## How to Describe a DataFrame

In [ ]:
import pandas as pd
washers = pd.read_csv("washers.csv")

## How to get Simple Aggregations
The `describe()` method returns a statistical summary for each of the columns in a DataFrame. It's important to note that the descriptive statistics returned by the `describe()` method depends on the data type of a column. For non-numeric columns, the descriptive statistics returned by the method are as follows:

|Name      |   Description  |
|-----------------|---------------------|
| `count`         | Number of non-missing values                       |
| `unique`       | Number of unique non-missing values                   |
| `top`       | Most commonly occuring value   |
| `freq`        | Frequency of the most commonly occuring value                   |

For numeric columns, the `describe()` method returns the following descriptive statistics:

|Name      |   Description  |
|-----------------|---------------------|
| `count`         | Number of non-missing values                       |
| `mean`       | Average of the non-missing values                   |
| `std`       | Standard deviation of the values   |
| `min`        | Smallest value                  |
| `25%`         | 25th percentile                       |
| `50%`       | 50th percentile (same as the median)                   |
| `75%`       | 75th percentile   |
| `max`        | Largest value                   |

In [6]:
washers[['BrandName']].min()

BrandName    Amana
dtype: object

## How to get Group-level Aggregations

In [7]:
washers.groupby('BrandName')[['Volume']].mean()

                   Volume
BrandName
Amana            4.250000
Asko             2.525000
Beko             2.133333
Blomberg         2.300000
Bosch            2.200000
Crosley          4.400000
Electrolux       3.785714
Fisher & Paykel  2.400000
GE               4.328571
GE Adora         4.200000
Gaggenau         2.200000
Haier            2.400000
Inglis           4.300000
Insignia         4.800000
Kenmore          4.796667
LG               4.596000
Magic Chef       2.700000
Maytag           4.988889
Midea            5.200000
Miele            2.300000
Samsung          4.729787
Whirlpool        4.453846

In [11]:
test = washers.groupby('BrandName')[['Volume']]